<div class="t-flex t-flex-col t-space-y-8 t-p-10">
    <h1 class="t-text-2xl t-font-bold t-text-gray-800">Contratar espacio</h1>

    <nz-alert *ngIf="errorMessage" [nzType]="'error'" [nzMessage]="errorMessage" [nzShowIcon]="true"></nz-alert>

    <!-- Paso 1 -->
    <div *ngIf="step === 0">
        <p class="t-text-gray-600 t-mb-4">
            <strong>Fecha seleccionada:</strong> {{ startDate | date: 'fullDate' }}
        </p>

        <h3 class="t-text-lg t-font-medium t-text-gray-700 t-mb-4">Selecciona una opción:</h3>
        <div class="t-flex t-gap-3">
            <button *ngFor="let option of ['dia', 'semana', 'mes']" nz-button nzType="default"
                (click)="selectOption(option)" [nzType]="option === selectedOption ? 'primary' : 'default'">
                {{ option | titlecase }}
            </button>
        </div>

        <!-- Rango de Fechas -->
        <div *ngIf="selectedOption" class="t-space-y-6">
            <h3 class="t-text-lg t-font-medium t-text-gray-700">Selecciona el rango de {{ selectedOption }}:</h3>
            <div class="t-grid md:t-grid-cols-2 t-gap-6">
                <nz-date-picker [(ngModel)]="startDate" class="t-w-full t-rounded-md t-px-3 t-py-2"
                    (ngModelChange)="updateStartDate($event)"></nz-date-picker>
                <nz-date-picker [(ngModel)]="endDate" class="t-w-full t-rounded-md t-px-3 t-py-2"
                    (ngModelChange)="updateEndDate($event)"></nz-date-picker>
            </div>
        </div>

        <!-- Botones -->
        <div class="t-flex t-justify-end t-mt-8 t-space-x-4">
            <button nz-button nzType="default" (click)="cancel()">Cancelar</button>
            <button nz-button nzType="primary"
                [disabled]="!selectedOption || (selectedOption === 'hora' && (!startTime || !endTime))"
                (click)="save()">Siguiente</button>
        </div>
    </div>

    <!-- Paso 2 -->
    <div *ngIf="step === 1">
        <h2 class="t-text-lg t-font-medium t-text-gray-700">Vehículo seleccionado:</h2>

        <div *ngIf="selectedVehicle" class="t-mt-4">
            <p class="t-text-gray-600">{{ selectedVehicle.model }} {{ selectedVehicle.plate }}</p>
        </div>

        <button nzType="primary" nz-button class="t-mt-4 t-py-2 t-px-4" (click)="seleccionarUsuario()">
            Buscar Vehículo
        </button>

        <!-- Precio -->
        <div class="t-mt-6">
            <h3 class="t-text-lg t-font-medium t-text-gray-700">Precio:</h3>
            <p class="t-text-gray-600">{{ price | currency }}</p>
        </div>

        <!-- Botones -->
        <div class="t-flex t-justify-end t-mt-8 t-space-x-4">
            <button nz-button nzType="default" (click)="previousStep()">Anterior</button>
            <button nz-button nzType="primary" [disabled]="!selectedVehicle" (click)="guardar()">Guardar</button>
        </div>
    </div>
</div>