<div class="t-flex t-min-h-full t-flex-col t-justify-center t-px-6 t-py-12 lg:t-px-8">

    <div class="t-mt-10 sm:t-mx-auto sm:t-w-full sm:t-max-w-sm">
        <div class="t-space-y-6" [formGroup]="formLogin">
            <div>
                <label for="email" class="t-block t-text-sm/6 t-font-medium t-text-gray-900">Usuario virtual</label>
                <div class="t-mt-2">
                    <input id="email" name="email" type="email" autocomplete="email" required formControlName="email"
                        class="t-pl-4 t-block t-w-full t-rounded-md t-border-0 t-py-1.5 t-text-gray-900 t-shadow-sm t-ring-1 t-ring-inset t-ring-gray-300 t-placeholder:text-gray-400 t-focus:ring-2 t-focus:ring-inset t-focus:ring-indigo-600 t-sm:text-sm/6">
                </div>
            </div>

            <div>
                <div class="t-flex t-items-center t-justify-between">
                    <label for="password" class="t-block t-text-sm/6 t-font-medium t-text-gray-900">Contraseña</label>
                </div>
                <div class="t-mt-2">
                    <input id="password" name="password" type="password" autocomplete="current-password" required
                        formControlName="password"
                        class="t-pl-4 t-block t-w-full t-rounded-md t-border-0 t-py-1.5 t-text-gray-900 t-shadow-sm t-ring-1 t-ring-inset t-ring-gray-300 t-placeholder:text-gray-400 t-focus:ring-2 t-focus:ring-inset t-focus:ring-indigo-600 t-sm:text-sm/6">
                </div>
            </div>

            <div>
                <button (click)="iniciaSesion()"
                    class="t-flex t-w-full t-justify-center t-rounded-md t-bg-indigo-600 t-px-3 t-py-1.5 t-text-sm/6 t-font-semibold t-text-white t-shadow-sm t-hover:bg-indigo-500 t-focus-visible:outline t-focus-visible:outline-2 t-focus-visible:outline-offset-2 t-focus-visible:outline-indigo-600">Continuar</button>
            </div>
        </div>
        <p class="t-mt-10 t-text-center t-text-sm/6 t-text-gray-500">
            No eres miembro aún?
            <a routerLink="../register" class="t-font-semibold t-text-indigo-600 t-hover:text-indigo-500">Registrate</a>
        </p>
    </div>
</div>