<div class="t-container t-mx-auto t-p-6">
    <h1 class="t-text-3xl t-font-bold t-mb-6">Gestión de Parqueaderos</h1>

    <nz-spin [nzSpinning]="isLoading">
        <div class="t-bg-white t-p-6 t-shadow-md t-rounded-lg t-mb-6">
            <!-- Primera Fila de Filtros -->
            <div class="md:t-grid md:t-grid-cols-2 lg:t-grid-cols-3 t-gap-6 t-mb-6">
                <nz-form-item>
                    <nz-form-label>Bloque</nz-form-label>
                    <nz-form-control>
                        <nz-select class="t-w-full" [(ngModel)]="selectedBlock" (ngModelChange)="onBlockChange()"
                            nzPlaceHolder="Seleccione un bloque">
                            <nz-option *ngFor="let cat of blocksOriginal" [nzValue]="cat"
                                [nzLabel]="cat.id + ': ' + cat.name"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label>Tipo de vehículo</nz-form-label>
                    <nz-form-control>
                        <nz-select class="t-w-full" [(ngModel)]="filter.vehicleType" (ngModelChange)="onBlockChange()"
                            nzPlaceHolder="Seleccione tipo">
                            <nz-option *ngFor="let type of vehicleTypes" [nzValue]="type.id"
                                [nzLabel]="type.type"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <!-- Segunda Fila de Filtros -->
            <div class="md:t-grid md:t-grid-cols-2 lg:t-grid-cols-3 t-gap-6 t-mb-6">
                <nz-form-item>
                    <nz-form-label>Fecha inicio</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker class="t-w-full" [(ngModel)]="filter.startDate"
                            (ngModelChange)="onBlockChange()"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label>Fecha fin</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker class="t-w-full" [(ngModel)]="filter.endDate"
                            (ngModelChange)="onBlockChange()"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <!-- Botón para limpiar los filtros -->
            <div class="t-text-right">
                <button nz-button nzType="default" (click)="clearFilters()">Limpiar Filtros</button>
            </div>
        </div>

        <!-- Espacios de Parqueo -->
        <div class="t-grid md:t-grid-cols-2 lg:t-grid-cols-3 xl:t-grid-cols-4 t-gap-6">
            <div *ngFor="let space of parkingSpaces" routerLink="/admin/parking-lot"
                [queryParams]="{parkingId:space.id, blockId:selectedBlock!.id, vehicleType:space.parkingSpaceType.vehicleType.id}"
                class="t-p-6 t-rounded-lg t-shadow-md t-bg-white t-border t-border-gray-200 t-flex t-flex-col t-justify-between">
                <h2 class="t-text-lg t-font-bold t-mb-4">Espacio {{selectedBlock?.name}}{{ space.id }}</h2>
                <p class="t-text-sm">💰 <span class="t-font-semibold">{{space.parkingSpaceType.priceHour}}</span> por
                    hora</p>
                <p class="t-text-sm">📅 <span class="t-font-semibold">{{space.parkingSpaceType.priceDay}}</span> por día
                </p>
                <p class="t-text-sm">🗓️ <span class="t-font-semibold">{{space.parkingSpaceType.priceWeek}}</span> por
                    semana</p>
                <p class="t-text-sm">📆 <span class="t-font-semibold">{{space.parkingSpaceType.priceMonth}}</span> por
                    mes</p>
            </div>
        </div>
    </nz-spin>
</div>