<div class="t-container t-mx-auto t-p-4">
    <h1 class="t-text-3xl t-font-bold t-mb-4">Gestión de Parqueaderos</h1>

    <div *ngIf="isLoading" class="t-text-center t-my-4">
        <p class="t-text-lg">Cargando datos...</p>
    </div>
    <div *ngIf="!isLoading">

        <select
            class="t-bg-gray-50 t-border t-border-gray-300 t-text-gray-900 t-text-sm t-rounded-lg t-focus:ring-blue-500 t-focus:border-blue-500 t-block t-p-2.5 t-dark:bg-gray-700 t-dark:border-gray-600 t-dark:placeholder-gray-400 t-dark:text-white t-dark:focus:ring-blue-500 t-dark:focus:border-blue-500 t-mb-6"
            (change)="onBlockChange($event)">
            <option *ngFor="let cat of blocksOriginal" [ngValue]="cat">{{ cat.nombre }}</option>
        </select>

        <div class="t-grid t-grid-cols-1 t-md:grid-cols-3 t-lg:grid-cols-4 t-gap-4">
            <div *ngFor="let space of parkingSpaces" routerLink="/admin/parking-lot"
                [queryParams]="{parkingId:space.id, blockId:selectedBlock.id}"
                class="t-p-4 t-rounded t-shadow t-text-white t-flex t-flex-col t-justify-between"
                [ngClass]="getTypeOfParking(space) ">
                <h2 class="t-text-lg t-font-bold">Espacio {{selectedBlock.nombre}}{{ space.id }}</h2>
                <p>Precio por hora: {{space.precioPorHora}}</p>
                <p>Precio por mes: {{space.precioPorMes}}</p>
                <p>Precio por semana: {{space.precioPorSemana}}</p>
                <p>Precio por dia: {{space.precioPorDia}}</p>
                <p>Tamaño: {{space.type |titlecase}}</p>
            </div>
        </div>
    </div>
</div>