<div class="t-relative t-overflow-x-auto">
    <table class="t-w-full t-text-xs t-text-left t-rtl:text-right t-text-gray-500 dark:t-text-gray-400">
        <thead class="t-text-xs t-text-gray-700 t-uppercase t-bg-gray-50 dark:t-bg-gray-700 dark:t-text-gray-400">
            <tr>
                <th class="t-px-6 t-py-3">
                    Codigo
                </th>
                <th class="t-px-6 t-py-3">
                    Nombre
                </th>
                <th class="t-px-6 t-py-3">
                    Apellido
                </th>
                <th class="t-px-6 t-py-3">
                    Email
                </th>
                <th class="t-px-6 t-py-3">
                    Fecha de registro
                </th>
                <th class="t-px-6 t-py-3">
                    Genero
                </th>
                <th class="t-px-6 t-py-3">
                    Fecha de nacimiento
                </th>
                <th class="t-px-6 t-py-3">
                    Telefono
                </th>
                <th class="t-px-6 t-py-3">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="t-border-b t-dark:border-gray-700" *ngFor="let user of users;index as i">
                <th scope="row" class="t-px-6 t-py-4 t-font-medium t-whitespace-nowrap">
                    {{user.id}}
                </th>
                <td class="t-px-6 t-py-4">
                    {{user.firstName}}
                </td>
                <td class="t-px-6 t-py-4">
                    {{user.lastName}}
                </td>
                <td class="t-px-6 t-py-4">
                    {{user.email}}
                </td>
                <td class="t-px-6 t-py-4">
                    {{user.creationDate }}
                </td>
                <td class="t-px-6 t-py-4">
                    {{user.gender}}
                </td>
                <td class="t-px-6 t-py-4">
                    {{user.birthDate}}
                </td>
                <td class="t-px-6 t-py-4">
                    {{user.phone}}
                </td>
                <td class="t-px-6 t-py-4">
                    <button nz-button class="t-bg-blue-400 t-rounded-sm t-px-3 t-py-1" (click)="openModal(user)">
                        <i class="fas fa-edit t-text-white"></i>
                    </button>
                    <button nz-button class="t-bg-blue-400 t-rounded-sm t-px-3 t-py-1" (click)="openVehicleModal(user)">
                        <i class="fas fa-car t-text-white"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>