<div class="t-relative t-overflow-x-auto t-rounded-lg t-shadow-md t-bg-white">
    <table class="t-w-full t-text-sm t-text-left t-text-gray-900">
        <thead class="t-bg-gray-200 t-text-gray-700 t-uppercase t-font-bold">
            <tr>
                <th class="t-px-6 t-py-3">Código</th>
                <th class="t-px-6 t-py-3">Nombre</th>
                <th class="t-px-6 t-py-3">Apellido</th>
                <th class="t-px-6 t-py-3">Email</th>
                <th class="t-px-6 t-py-3">Fecha de Registro</th>
                <th class="t-px-6 t-py-3">Género</th>
                <th class="t-px-6 t-py-3">Fecha de Nacimiento</th>
                <th class="t-px-6 t-py-3">Teléfono</th>
                <th class="t-px-6 t-py-3 t-text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i"
                class="t-border-b t-border-gray-300 t-hover:bg-gray-100 t-transition">

                <td class="t-px-6 t-py-4 t-font-medium">{{ user.id }}</td>
                <td class="t-px-6 t-py-4">{{ user.firstName }}</td>
                <td class="t-px-6 t-py-4">{{ user.lastName }}</td>
                <td class="t-px-6 t-py-4">{{ user.email }}</td>
                <td class="t-px-6 t-py-4">{{ user.creationDate }}</td>
                <td class="t-px-6 t-py-4">{{ user.gender }}</td>
                <td class="t-px-6 t-py-4">{{ user.birthDate }}</td>
                <td class="t-px-6 t-py-4">{{ user.phone }}</td>

                <!-- Botones de Acción -->
                <td class="t-px-6 t-py-4 t-text-center">
                    <button nz-button class="t-bg-blue-500 t-rounded-md t-px-3 t-py-1 t-text-white t-mr-2"
                        (click)="openModal(user)">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button nz-button class="t-bg-green-500 t-rounded-md t-px-3 t-py-1 t-text-white"
                        (click)="openVehicleModal(user)">
                        <i class="fas fa-car"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>