<div class="relative overflow-x-auto">
    <table class="w-full text-xs text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th class="px-6 py-3">
                    Codigo
                </th>
                <th class="px-6 py-3">
                    Nombre
                </th>
                <th class="px-6 py-3">
                    Apellido
                </th>
                <th class="px-6 py-3">
                    Email
                </th>
                <th class="px-6 py-3">
                    Fecha de registro
                </th>
                <th class="px-6 py-3">
                    Genero
                </th>
                <th class="px-6 py-3">
                    Fecha de nacimiento
                </th>
                <th class="px-6 py-3">
                    Telefono
                </th>
                <th class="px-6 py-3">

                </th>
            </tr>
        </thead>
        <tbody>
            <tr class=" border-b  dark:border-gray-700 " *ngFor="let user of users;index as i"
                [ngClass]="user.actualizarPerfil? 'bg-red-500 text-white':'bg-green-100 text-gray-600' ">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap  ">
                    {{user.id}}
                </th>
                <td class="px-6 py-4">
                    {{user.nombre}}
                </td>
                <td class="px-6 py-4">
                    {{user.apellido}}
                </td>
                <td class="px-6 py-4">
                    {{user.email}}
                </td>
                <td class="px-6 py-4">
                    {{user.fechaRegistro | timestampToDate}}
                </td>
                <td class="px-6 py-4">
                    {{user.genero}}
                </td>

                <td class="px-6 py-4">
                    {{user.fechaNacimiento}}
                </td>
                <td class="px-6 py-4">
                    {{user.telefono}}
                </td>
                <td class="px-6 py-4">
                    <button (click)="openDialog(user)" class="bg-blue-400 rounded-sm px-3 py-1">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>