<div [formGroup]="userForm" class="p-5">
    <div class="t-mb-4">
        <label for="nombre" class="t-block t-text-sm t-font-medium t-text-gray-700">Nombre</label>
        <nz-input-group>
            <input id="nombre" name="nombre" nz-input formControlName="nombre" placeholder="Ingrese el nombre" />
        </nz-input-group>
    </div>

    <div class="t-mb-4">
        <label for="apellido" class="t-block t-text-sm t-font-medium t-text-gray-700">Apellido</label>
        <nz-input-group>
            <input id="apellido" name="apellido" nz-input formControlName="apellido"
                placeholder="Ingrese el apellido" />
        </nz-input-group>
    </div>

    <div class="t-mb-4">
        <label for="fechaNacimiento" class="t-block t-text-sm t-font-medium t-text-gray-700">Fecha de Nacimiento</label>
        <nz-date-picker id="fechaNacimiento" formControlName="fechaNacimiento" nzFormat="yyyy-MM-dd"
            nzPlaceholder="Seleccione la fecha"></nz-date-picker>
    </div>



    <div class="t-mb-4">
        <label for="telefono" class="t-block t-text-sm t-font-medium t-text-gray-700">Teléfono</label>
        <nz-input-group>
            <input id="telefono" name="telefono" nz-input formControlName="telefono"
                placeholder="Ingrese el teléfono" />
        </nz-input-group>
    </div>
    <div class="t-mb-4">
        <label for="correo" class="t-block t-text-sm t-font-medium t-text-gray-700">Correo electronico</label>
        <nz-input-group>
            <input id="correo" name="correo" nz-input formControlName="correo"
                placeholder="Ingrese el correo electronico" />
        </nz-input-group>
    </div>

    <div class="t-flex t-justify-end">
        <button nz-button nzType="primary" (click)="actualizar()">Actualizar</button>
    </div>
</div>