<header>
    <nav class="t-bg-white t-border-gray-200 t-px-4 lg:t-px-6 t-py-2.5 dark:t-bg-gray-800">
        <div class="t-flex t-flex-wrap t-justify-between t-items-center t-mx-auto t-max-w-screen-xl">
            <!-- Logo -->
            <a href="/" class="t-text-xl t-font-semibold t-text-gray-800 dark:t-text-white">Parquig</a>

            <!-- Botón de menú (visible en pantallas pequeñas) -->
            <button type="button"
                class="t-inline-flex t-items-center t-p-2 t-ml-3 t-text-sm t-text-gray-500 t-rounded-lg lg:t-hidden focus:t-outline-none focus:t-ring-2 focus:t-ring-gray-200 dark:t-text-gray-400 dark:focus:t-ring-gray-600"
                (click)="toggleMenu()" aria-controls="mobile-menu" aria-expanded="false">
                <span class="t-sr-only">Abrir menú principal</span>
                <svg class="t-w-6 t-h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                    </path>
                </svg>
            </button>

            <!-- Menú de navegación -->
            <div [class.t-hidden]="!isMenuOpen" id="mobile-menu" class="t-w-full lg:t-flex lg:t-w-auto lg:t-order-1">
                <ul class="t-flex t-flex-col t-mt-4 lg:t-flex-row lg:t-space-x-8 lg:t-mt-0">
                    <li>
                        <a routerLink="/"
                            class="t-block t-py-2 t-pr-4 t-pl-3 t-text-white t-rounded t-bg-primary-700 lg:t-bg-transparent lg:t-text-primary-700 lg:t-p-0 dark:t-text-white">
                            Inicio
                        </a>
                    </li>
                    <li>
                        <a routerLink="/contacto"
                            class="t-block t-py-2 t-pr-4 t-pl-3 t-text-gray-700 t-border-b t-border-gray-100 hover:t-bg-gray-50 lg:hover:t-bg-transparent lg:t-border-0 lg:hover:t-text-primary-700 lg:t-p-0 dark:t-text-gray-400 lg:dark:hover:t-text-white dark:hover:t-bg-gray-700 dark:hover:t-text-white lg:dark:hover:t-bg-transparent dark:t-border-gray-700">
                            Contacto
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/users"
                            class="t-block t-py-2 t-pr-4 t-pl-3 t-text-gray-700 t-border-b t-border-gray-100 hover:t-bg-gray-50 lg:hover:t-bg-transparent lg:t-border-0 lg:hover:t-text-primary-700 lg:t-p-0 dark:t-text-gray-400 lg:dark:hover:t-text-white dark:hover:t-bg-gray-700 dark:hover:t-text-white lg:dark:hover:t-bg-transparent dark:t-border-gray-700">
                            Usuarios
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/parking-lots"
                            class="t-block t-py-2 t-pr-4 t-pl-3 t-text-gray-700 t-border-b t-border-gray-100 hover:t-bg-gray-50 lg:hover:t-bg-transparent lg:t-border-0 lg:hover:t-text-primary-700 lg:t-p-0 dark:t-text-gray-400 lg:dark:hover:t-text-white dark:hover:t-bg-gray-700 dark:hover:t-text-white lg:dark:hover:t-bg-transparent dark:t-border-gray-700">
                            Parqueaderos
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/tarifas"
                            class="t-block t-py-2 t-pr-4 t-pl-3 t-text-gray-700 t-border-b t-border-gray-100 hover:t-bg-gray-50 lg:hover:t-bg-transparent lg:t-border-0 lg:hover:t-text-primary-700 lg:t-p-0 dark:t-text-gray-400 lg:dark:hover:t-text-white dark:hover:t-bg-gray-700 dark:hover:t-text-white lg:dark:hover:t-bg-transparent dark:t-border-gray-700">
                            Tarifas
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/block-management"
                            class="t-block t-py-2 t-pr-4 t-pl-3 t-text-gray-700 t-border-b t-border-gray-100 hover:t-bg-gray-50 lg:hover:t-bg-transparent lg:t-border-0 lg:hover:t-text-primary-700 lg:t-p-0 dark:t-text-gray-400 lg:dark:hover:t-text-white dark:hover:t-bg-gray-700 dark:hover:t-text-white lg:dark:hover:t-bg-transparent dark:t-border-gray-700">
                            Gestionar bloques
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/horario-management"
                            class="t-block t-py-2 t-pr-4 t-pl-3 t-text-gray-700 t-border-b t-border-gray-100 hover:t-bg-gray-50 lg:hover:t-bg-transparent lg:t-border-0 lg:hover:t-text-primary-700 lg:t-p-0 dark:t-text-gray-400 lg:dark:hover:t-text-white dark:hover:t-bg-gray-700 dark:hover:t-text-white lg:dark:hover:t-bg-transparent dark:t-border-gray-700">
                            Gestionar horarios
                        </a>
                    </li>

                    <li>
                        <a *ngIf="isLogged()" routerLink="/perfil"
                            class="t-block t-py-2 t-pr-4 t-pl-3 t-text-gray-700 hover:t-bg-gray-50 lg:hover:t-bg-transparent lg:t-p-0 dark:t-text-gray-400 dark:hover:t-bg-gray-700 dark:hover:t-text-white">
                            Perfíl
                        </a>
                    </li>
                    <li>
                        <a *ngIf="isLogged()" (click)="logout()"
                            class="t-block t-py-2 t-pr-4 t-pl-3 t-text-gray-700 hover:t-bg-gray-50 lg:hover:t-bg-transparent lg:t-p-0 dark:t-text-gray-400 dark:hover:t-bg-gray-700 dark:hover:t-text-white">
                            Cerrar sesión
                        </a>
                    </li>
                    <li>
                        <a *ngIf="!isLogged()" routerLink="/auth/login"
                            class="t-block t-py-2 t-pr-4 t-pl-3 t-text-gray-700 hover:t-bg-gray-50 lg:hover:t-bg-transparent lg:t-p-0 dark:t-text-gray-400 dark:hover:t-bg-gray-700 dark:hover:t-text-white">
                            Inicia sesión
                        </a>
                    </li>
                    <li>
                        <a *ngIf="!isLogged()" routerLink="/auth/register"
                            class="t-block t-py-2 t-pr-4 t-pl-3 t-text-gray-700 hover:t-bg-gray-50 lg:hover:t-bg-transparent lg:t-p-0 dark:t-text-gray-400 dark:hover:t-bg-gray-700 dark:hover:t-text-white">
                            Regístrate
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>