<div class="t-bg-gray-100 t-py-12">
    <div class="t-max-w-7xl t-mx-auto t-px-6">
        <h2 class="t-text-4xl t-font-bold t-text-blue-600 t-text-center t-mb-6">Contáctenos</h2>
        <p class="t-text-center t-text-gray-600 t-mb-12">
            ¿Tienes alguna pregunta o comentario? ¡Nos encantaría saber de ti!
        </p>

        <div class="t-grid t-grid-cols-1 t-md:grid-cols-2 t-gap-8">
            <!-- Contact Information -->
            <div class="t-bg-white t-shadow-lg t-rounded-lg t-p-8">
                <h3 class="t-text-2xl t-font-semibold t-text-gray-800 t-mb-4">Información de contacto</h3>
                <p class="t-text-gray-600 t-mb-4">
                    Comunícate con nosotros utilizando los siguientes medios:
                </p>
                <ul class="t-text-gray-700 t-space-y-2">
                    <li>
                        <span class="t-font-medium">Teléfono:</span> +593 98 393 5886
                    </li>
                    <li>
                        <span class="t-font-medium">Correo electrónico:</span>
                        <a href="mailto:jramirezs11@est.ups.edu.ec" class="t-text-blue-500 t-hover:underline">
                            jramirezs11&#64;est.ups.edu.ec
                        </a>
                    </li>
                    <li>
                        <span class="t-font-medium">Dirección:</span> Universidad Politecnica Salesiana, Cuenca, Ecuador
                    </li>
                </ul>
            </div>

            <!-- Contact Form -->
            <div class="t-bg-white t-shadow-lg t-rounded-lg t-p-8">
                <h3 class="t-text-2xl t-font-semibold t-text-gray-800 t-mb-4">Envíanos un mensaje</h3>
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="t-space-y-4">
                    <div>
                        <label for="name" class="t-block t-text-gray-700 t-font-medium">Nombre</label>
                        <input type="text" id="name" formControlName="name"
                            class="t-w-full t-mt-2 t-p-3 t-border t-rounded-md t-focus:outline-none t-focus:ring t-focus:ring-blue-300"
                            placeholder="Ingresa tu nombre" />
                        <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched"
                            class="t-text-red-500 t-text-sm">
                            El nombre es requerido.
                        </div>
                    </div>

                    <div>
                        <label for="correo" class="t-block t-text-gray-700 t-font-medium">Correo Electrónico</label>
                        <input type="email" id="email" formControlName="email"
                            class="t-w-full t-mt-2 t-p-3 t-border t-rounded-md t-focus:outline-none t-focus:ring t-focus:ring-blue-300"
                            placeholder="Ingresa tu correo electrónico" />
                        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched"
                            class="t-text-red-500 t-text-sm">
                            <span *ngIf="contactForm.get('email')?.errors?.['required']">El correo es requerido.</span>
                            <span *ngIf="contactForm.get('email')?.errors?.['email']">Ingresa un correo válido.</span>
                        </div>
                    </div>

                    <div>
                        <label for="message" class="t-block t-text-gray-700 t-font-medium">Mensaje</label>
                        <textarea id="message" formControlName="message" rows="5"
                            class="t-w-full t-mt-2 t-p-3 t-border t-rounded-md t-focus:outline-none t-focus:ring t-focus:ring-blue-300"
                            placeholder="Escribe tu mensaje"></textarea>
                        <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched"
                            class="t-text-red-500 t-text-sm">
                            El mensaje es requerido.
                        </div>
                    </div>

                    <button type="submit" [disabled]="contactForm.invalid"
                        class="t-w-full t-bg-blue-600 t-text-white t-py-3 t-rounded-md t-shadow-md t-hover:bg-blue-700 t-focus:outline-none t-focus:ring t-focus:ring-blue-300">
                        Enviar mensaje
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>