<div class="t-bg-gray-100 t-text-gray-800 t-font-sans">

    <div class="t-min-h-screen t-flex t-flex-col t-justify-center t-items-center">
        <header class="t-text-center t-mb-8">
            <h1 class="t-text-4xl t-font-bold t-text-blue-600">Bienvenido a la Gestión de Parqueadero Público</h1>
            <p class="t-text-lg t-text-gray-700 t-mt-4">
                Una solución eficiente para administradores y conductores de vehículos.
            </p>
        </header>

        <main class="t-w-full t-max-w-4xl t-bg-white t-shadow-lg t-rounded-lg p-8">
            <section class="t-mb-6">
                <h2 class="t-text-2xl t-font-semibold t-text-gray-800">¿Qué ofrece esta aplicación?</h2>
                <p class="t-text-gray-600 t-mt-2">
                    Nuestra aplicación está diseñada para optimizar la gestión de parqueaderos públicos con roles
                    diferenciados:
                </p>
                <ul class="t-list-disc t-list-inside t-mt-4 t-text-gray-700">
                    <li><span class="t-font-medium t-text-gray-800">Administradores (Cajeros):</span> Control del
                        ingreso y
                        salida de vehículos, generación de reportes y gestión del espacio disponible.</li>
                    <li><span class="t-font-medium t-text-gray-800">Usuarios (Conductores):</span> Reserva de espacios,
                        pagos y seguimiento de estacionamiento en tiempo real.</li>
                </ul>
            </section>

            <section class="t-mb-6">
                <h2 class="t-text-2xl t-font-semibold t-text-gray-800">Principales características</h2>
                <ul class="t-ist-disc t-list-inside t-mt-4 t-text-gray-700">
                    <li>Autenticación rápida y segura mediante Google.</li>
                    <li>Diseño moderno y funcional basado en principios de usabilidad.</li>
                    <li>Accesible desde cualquier dispositivo gracias a su publicación en Firebase Hosting.</li>
                    <li>Incluye prototipos para garantizar una experiencia de usuario intuitiva.</li>
                </ul>
            </section>

            <div class="t-text-center mt-8">
                <button
                    class="t-px-6 py-3 t-bg-blue-600 t-text-white t-rounded-md t-shadow-md hover:t-bg-blue-700 focus:t-outline-none"
                    onclick="location.href='/auth/login'">
                    Comenzar
                </button>
                <button nz-button nzType="primary">hola mudno</button>
            </div>
        </main>

        <footer class="t-mt-8 t-text-center t-text-gray-600">
            <p>© 2024 Gestión de Parqueadero Público. Todos los derechos reservados.</p>
        </footer>
    </div>

</div>