<div class="container mx-auto p-6">
    <h1 class="text-2xl font-bold mb-4">Gestión de Horarios</h1>

    <!-- Formulario para agregar/editar horarios -->
    <form [formGroup]="horarioForm" (ngSubmit)="addHorario()" class="mb-6">
        <div class="mb-4">
            <label for="inicio" class="block text-sm font-medium">Fecha y Hora de Inicio:</label>
            <input id="inicio" formControlName="inicio" type="datetime-local"
                class="w-full px-3 py-2 border border-gray-300 rounded-md" />
        </div>
        <div class="mb-4">
            <label for="fin" class="block text-sm font-medium">Fecha y Hora de Fin:</label>
            <input id="fin" formControlName="fin" type="datetime-local"
                class="w-full px-3 py-2 border border-gray-300 rounded-md" />
        </div>
        <div class="flex space-x-4">
            <button type="submit" [disabled]="horarioForm.invalid"
                class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">
                {{ isEditing ? 'Actualizar Horario' : 'Agregar Horario' }}
            </button>
            <button type="button" (click)="resetForm()"
                class="px-4 py-2 bg-gray-300 text-black rounded-md hover:bg-gray-400">
                Cancelar
            </button>
        </div>
    </form>

    <!-- Lista de horarios -->
    <h2 class="text-xl font-semibold mb-4">Horarios Existentes</h2>
    <div *ngIf="horarios.length > 0; else noHorarios">
        <div *ngFor="let horario of horarios" class="p-4 mb-2 border border-gray-300 rounded-md">
            <p><strong>Inicio:</strong> {{ horario.inicio|timestampToDate}}</p>
            <p><strong>Fin:</strong> {{ horario.fin |timestampToDate}}</p>
            <div class="mt-2 flex space-x-4">
                <button (click)="editHorario(horario)"
                    class="px-4 py-2 bg-yellow-500 text-white rounded-md hover:bg-yellow-600">
                    Editar
                </button>
                <button (click)="deleteHorario(horario.id)"
                    class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600">
                    Eliminar
                </button>
            </div>
        </div>
    </div>
    <ng-template #noHorarios>
        <p class="text-gray-500">No hay horarios registrados.</p>
    </ng-template>
</div>