<nz-table #basicTable [nzData]="horarios" [nzBordered]="true" [nzSize]="'middle'">
    <thead>
        <tr>
            <th nzWidth="25%">Día de la Semana</th>
            <th nzWidth="25%">Hora Inicio</th>
            <th nzWidth="25%">Hora Fin</th>
            <th nzWidth="25%">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let schedule of horarios; let i = index">
            <td>{{ getDayName(schedule.weekDay) }}</td>
            <td>
                <nz-time-picker [(ngModel)]="schedule.startHour" nzFormat="HH:mm:ss"></nz-time-picker>
            </td>
            <td>
                <nz-time-picker [(ngModel)]="schedule.endHour" nzFormat="HH:mm:ss"></nz-time-picker>
            </td>
            <td>
                <button nz-button nzType="link" nzShape="circle" (click)="updateHorario(schedule)">
                    💾
                </button>
                <button nz-button nzType="link" nzShape="circle" (click)="deleteSchedule(schedule.id)">
                    🗑️
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>