<div class="t-p-6 t-bg-white t-rounded-lg t-shadow-md">

    <nz-descriptions [nzBordered]="true" [nzColumn]="1">
        <nz-descriptions-item nzTitle="ID del Contrato">{{ contract?.id }}</nz-descriptions-item>

        <nz-descriptions-item nzTitle="Estado">
            <nz-tag [nzColor]="contract?.active ? 'green' : 'red'">
                {{ contract?.active ? 'Activo' : 'Inactivo' }}
            </nz-tag>
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Fecha de Inicio">
            {{ contract?.startDate | date: 'short' }}
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Fecha de Fin">
            {{ contract?.finishDate ? (contract?.finishDate | date: 'short') : 'No definido' }}
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Tipo de Contrato">
            {{ contract?.contractType?.name }}
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Espacio de Parqueo">
            #{{ contract?.parkingSpace?.id }}
        </nz-descriptions-item>

        <nz-descriptions-item nzTitle="Vehículo" [nzSpan]="2">
            {{ contract?.vehicle?.model }} ({{ contract?.vehicle?.plate }})
        </nz-descriptions-item>
    </nz-descriptions>

    <!-- Sección de acciones -->
    <div class="t-mt-6 t-flex t-justify-end">
        <button (click)="eliminar()" nz-button nzDanger nzType="primary">Eliminar</button>
        <button class="t-ml-5" (click)="cerrar()" nz-button nzType="primary">Cerrar</button>
    </div>
</div>